/* src/index.css */
/* @符号在 CSS 中用于标识特殊指令 */
@import "tailwindcss";

@theme {
  --color-bg: 255 255 255; /* background */
  --color-box: 255 255 255;
  --box-border: 229 231 235;
  --box-sd: 226 232 240 / 0.5; /* box shadow */
  --heading-1: 23 37 84; /* H1 */
  --heading-2: 31 41 55; /* H2 */
  --heading-3: 55 65 81; /* H3 */
  --price-bg: 255 255 255; /* 白天模式价格背景颜色 */
}

html.dark {
  --color-bg: 3 7 18;
  --color-box: 17 24 39;
  --box-border: 243 244 246 / 0.1;
  --box-sd: transparent;
  --heading-1: 255 255 255;
  --heading-2: 243 244 246;
  --heading-3: 209 213 219;
  --price-bg: 17 24 39; /* 黑夜模式价格背景颜色 */
}

@layer utilities {
  .bg-body {
    /* 调用上面的变量 */
    background-color: rgb(var(--color-bg));
  }
  .bg-box-bg {
    background-color: rgb(var(--color-box));
  }
  .text-heading-1 {
    color: rgb(var(--heading-1));
  }
  .text-heading-2 {
    color: rgb(var(--heading-2));
  }
  .text-heading-3 {
    color: rgb(var(--heading-3));
  }
  .border-gradient-to-r {
    border-image: linear-gradient(to right, blue, purple) 1;
  }
  /* 添加自定义 text-shadow 类 */
  .text-shadow-red {
    text-shadow: 0 0 3px rgba(255, 0, 0, 0.8); /* 可以根据需要调整阴影的颜色和大小 */
  }
  /* 添加价格背景颜色类 */
  .bg-price {
    background-color: rgb(var(--price-bg));
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: auto;
  font-family: "Raleway", sans-serif;
}

/* 自定义滚动条样式 */
::-webkit-scrollbar {
  width: 6px; /* 垂直滚动条宽度 */
  height: 6px; /* 水平滚动条高度 */
}

::-webkit-scrollbar-track {
  background: transparent; /* 滚动条轨道背景颜色 */
}

::-webkit-scrollbar-thumb {
  background: #888; /* 滚动条滑块颜色 */
  border-radius: 3px; /* 滚动条滑块圆角 */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* 滚动条滑块悬停颜色 */
}